/*

GENERAL 

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  /*
  
  LANDING PAGE HEADER 
  
  */


  #landing__page {
    max-width: 1200px;
 }

 .porsche__logo--wrapper {
    width: 100%;   
 }
